numpy 
decorator 
sympy==1.4 
cffi==1.12.3 
pyyaml 
pathlib2 
grpcio 
grpcio-tools 
protobuf 
scipy 
requests  
wheel 
setuptools 
matplotlib 
opencv-python==4.5.5.64 
sklearn==0.0 
pandas 
pycocotools==2.0.6 
tables==3.6.1 
mmcv==1.7.0 
lxml==4.5.2 
easydict==1.9 
mindinsight 
scikit-learn==0.24.1 
py-spy