certifi==2020.12.5
cffi==1.12.3
chardet==4.0.0
decorator==4.4.2
grpcio_tools==1.35.0
idna==2.10.
mpmath==1.1.0
pathlib2==2.3.5
protobuf==3.14.0
pycparser==2.20
PyYAML==5.4.1
requests==2.25.1
scipy==1.6.0
setuptools==51.3.1
six==1.15.0
sympy==1.4
urllib3==1.26.2
wheel==0.32.1
matplotlib
opencv-python==4.5.5.64
sklearn==0.0
pandas==1.0.5
pycocotools
tables==3.6.1
mmcv
lxml==4.5.2
easydict==1.9